.member {
    --paddingGeneral: .8rem;
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    padding: var(--paddingGeneral);
    
    --defaultColor: $brand-color;
    --headerHeight: 40px;
    --textHeight: 28px;
    * {
        flex-flow: nowrap row;
    }
    .name {
        --expandMargin: calc(var(--paddingGeneral) * -1);
        width: calc(100% - 2*var(--paddingGeneral));
        height: var(--headerHeight);
        line-height: var(--headerHeight);
        margin: var(--expandMargin);
        padding: 0 var(--paddingGeneral) var(--paddingGeneral) var(--paddingGeneral);

        background-color: var(--defaultColor);
        text-transform: uppercase;
        
        @include max-media-query($on-phone) {
            text-align: center;
        }
        a, a:visited, a:link, a:active {
            color: #ffffff;
        }
    }

    --avatarDimension: 150px;

    @include max-media-query($on-phone) {
        .avatar {
            width: calc(100% - 2*var(--paddingGeneral));

            img {
                display: block;
                border-radius: 90px;
                margin: 0 auto;
            }
        }
    }

    .avatar {
        display: inline-flex;

        img {
            max-width: var(--avatarDimension);
            max-height: var(--avatarDimension);
            border-bottom: calc(var(--paddingGeneral)) solid var(--defaultColor);
            box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
        }
    }

    .details {
        flex-flow: column;
        padding: var(--paddingGeneral) 0 0 var(--paddingGeneral);
        width: calc(100% - var(--avatarDimension) - 3*var(--paddingGeneral));
        font-size: 0.9em;

        @include max-media-query($on-phone) {
            padding: var(--paddingGeneral) var(--paddingGeneral) 0 var(--paddingGeneral);
            width: calc(100% - 4*var(--paddingGeneral));
        }

        a, a:visited, a:link, a:active {
            color: lighten($brand-color, 15%);
        }

        .info {
            min-width: 100%;
            line-height: var(--textHeight);
            overflow-x: hidden;
            text-overflow: ellipsis;
            text-rendering: optimizeLegibility;

            :global(.fa) {
                color: $grey-color;
                width: 25px;
                text-align: center;
            }
            
            span.label {
                text-transform: capitalize;

                &:after {
                    content: ": ";
                }
            }

            @include max-media-query($on-phone) {
                position: relative;

                :global(.fa) {
                    position: absolute;
                    left: 7px;
                    top: 7px;
                }

                span.label {
                    display: block;
                    text-align: center;
                    background-color: $grey-color-light;

                    &:after {
                        content: "";
                    }
                }
                span:last-child {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .bio {
        margin-top: 15px;
        width: calc(100% - 2*var(--paddingGeneral));

        :global(.fa) {
            color: $grey-color;
        }
    }
}