<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% for email in site.email %}
            <li><a href="mailto:{{ site.email }}">{{ email }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        {% for github_username in site.github_username %}
            <li>
                {% include icon-github.html username=github_username %}
            </li>
        {% endfor %}
        {% for twitter_username in site.twitter_username %}
            <li>
                {% include icon-twitter.html username=twitter_username %}
            </li>
        {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
