$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #222 !default;
$sub-text-color:       #545a75 !default;
$background-color: #fdfdfd !default;
$brand-color:      rgb(3%, 40%, 77%) !default;
// $brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1024px !default;

$on-phone:         320px !default;
$on-palm:          600px !default;
$on-laptop:        1024px !default;

@import "custom-theme/base";
@import "custom-theme/layout";
@import "custom-theme/syntax-highlighting";