.repos {
  display: flex;
  flex: 1;
  flex-flow: wrap row;
  margin-left: calc(#{$spacing-unit}/-2);
  margin-right: calc(#{$spacing-unit}/-2);

  & > div {
    width: calc(50% - #{$spacing-unit} - 2px);
    @include max-media-query(690px) {
      width: calc(100% - #{$spacing-unit});
    }
    @include max-media-query(380px) {
      .repo {
        .language {
          width: 100%;
          display: inline-flex;
        }
        .image-counters:nth-child(2) {
          padding: 0 calc(#{$spacing-unit}/2) 0 0;
        }
      }
    }
  }

  .repo {
    flex-flow: nowrap row;
    padding: calc(#{$spacing-unit}/2);

    .image-counters {
      padding: 0 calc(#{$spacing-unit}/2);
    }

    .image-counters:nth-child(2) {
      padding: 0 calc(#{$spacing-unit}/2) 0 calc(#{$spacing-unit});
    }

    :global(.fa-star),
    :global(.fa-star-o) {
      color: #eee222;
    }

    :global(.fa-code-fork) {
      color: #22dd22;
    }

    :global(.fa-binoculars) {
      color: #3d3d22;
    }

  }
}
