/* e1abfb455550ce5400fb95df8b5e098828b2ad48 */

.repos {
    display: flex;
    flex: 1;
    flex-flow: wrap row;
    
    .repo {
        flex-flow: nowrap row;
        /* Custom, iPhone Retina */ 
        @media only screen and (min-width : 320px) {
            min-width: 100%; 
            .avatar {
                max-width: 60px;
                max-height: 60px;
            }
        }
        /* Extra Small Devices, Phones */ 
        @media only screen and (min-width : 480px) {
            min-width: 100%;
            .avatar {
                max-width: 80px;
                max-height: 80px;
            }
        }
        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
            min-width: 50%;
            .avatar {
                max-width: 80px;
                max-height: 80px;
            }
        }
        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
            min-width: 33.33%;
            .avatar {
                max-width: 80px;
                max-height: 80px;
            }
        }
        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
            min-width: 25%;
            .avatar {
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
}
